
legend{
  text-align: center;
  color: black;
  font-size: 1.3425em;
}
form{
  margin-top: 3%;
  background-color: #cccccc;
  text-align: center;
}
input[type=text]{
  border: none;
  border-bottom: 3px solid black;
  width: 60%;
  font-size: 1.5em;
}
input[type=email]{
  border: none;
  border-bottom: 3px solid black;
  width: 60%;
  font-size: 1.5em;
}
textarea{
  border: none;
  border-bottom: 3px solid black;
  width: 60%;
  font-size: 1.5em;
}
input[type=submit]{
  background-color:white;
  border-radius: 8px 8px 8px 8px;
  width: 12%;
  margin-left: 48.25%;
  margin-bottom: 3%;
}
@media only screen and (max-width: 600px){/**this css is for making the contact page responsive**/
  input[type=submit]{width: 14%;

  }
}
