section{/** this css is for the whole section   **/
  display: flex;
  flex-direction: row;
  background-color: #cccccc;
}
section  img{/**this css gives height,padding, radius,time-duration to  the image in the section**/
  cursor: pointer;
  height: 300px;
  padding: 4%;
  border-radius: 50% ;
  transition-duration: 1s;
}
section img:hover {/**this is css for hover effect that makes the image to rotate in 360degrees**/
  transform: rotate(360deg);

}
.my{/**this css gives width and padding to content that are in div "my"**/
  width: 37%;
  padding: 3%;
}

article{/**this is the css that gives styles like background-color,text-align,text-weight to the content that are written in tag "article" **/
  background-color: orange;
  font-weight: bold;
  text-align: center;
}
.contain {
  width: 100%;
  background-color: black;
  border-radius:  7px;
}
.deny{
  text-align: right;

}
.skills{
  width: 90%;
  background-color: white;
  border-radius: 7px;
}
.many{
  text-align: right;
}
.css{
  width: 40%;
  background-color: white;
  border-radius: 7px;
}
.tiny{
  text-align: right;
}
.excel{
  width: 60%;
  background-color: white;
  border-radius: 7px;
}
.rightside{
  position: relative;
  width: 650px;
  padding-left: 50px;
  padding-bottom: 20px;
  background-color: #cccccc;/**this is cone for background color**/
}
.rightside h1{
  text-align: center;
  color: black;
  font-size: 3em;
  padding: 15%;
}
@media only screen and (max-width: 600px){/**this is css for making the CV page responsive which gives width to divs and display and flex-direction properties to the section**/
  section{
    display: flex;
    flex-direction: column;
  }
  article{
    width: 97%;
  }
  body{
    width: 100%;
  }
  .contain{
    width: 97%;
  }
  .my{
    width: 100%;


  }
  .your{
    width: 100%;
  }
  .rightside{
    width: 84%;
  }
  .rightside h1{
    width: 100%;
    padding: 2px;
    font-size: 2em;
  }
  .rightside p{
    width: 100%;
    text-align: justify;
  }
}
