@import url('https://fonts.googleapis.com/css?family=Lobster');
*{/**this is css for the whole body**/
  margin: 0;
  padding: 0;
  font-family: cursive;
}
.h {
  background-image: url("../images/prem1.jpg");/*this css gives the background to div h, it gives the posiition to the  background image and height to it. */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 450px;
}

header h1{/**this is the css which gives text-align,color,font-family,font-size and padding for the heading,h1 in the header part**/
  text-align: left;
  color: black;
  font-style: italic;
  padding-top: 2%;
  padding-right: 2%;
  font-size: 3em;
  font-family: 'Lobster', cursive;
}
header p{/**this is the css that gives same style to the small paragraph in the header part**/
  text-align: left;
  color: black;
  font-size: 2em;
  font-style: italic;
  padding-right: 2%;
  font-family: 'Lobster', cursive;

}
.navbar{/**this is the css for the whole  navigation bar**/
  background-color: black;
}

.navbar ul {/**this css gives list-style,flex properties nad display to the ul part of navigation bar **/

  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.navbar ul li  {/**this gives style to the li part of navigation bar**/
  padding: 3%;
  transition: border-bottom 2s;
}
.navbar ul li a{/**this gives styles like text-decoration and color to the anchor part of the navigation bar**/
  text-decoration: none;
  color: cyan;
}
.navbar ul li:hover{/**hover effect is given by this css**/
  background-color: blue;
  border-bottom: 5px solid yellow;
}
.joker{/**this is the css that gives background-color,font-size,display-properties and flex properties to div "joker"**/
/*  height: 400px;*/
  background-color:  #cccccc;
  font-size: 1em;
  display: flex;
  flex-direction: row-reverse;
}
.intro{/**this css gives padding and width to text that are written in the intro part**/
  padding: 10%;
  width: 57%;
}
.intro h2{/**this css gives styles like text-align,text-shadow,color padding and font-size to the heading,h2  and text written in div "intro"**/
 text-align:left;
  color: black;
  padding: 3%;
  font-size: 2em;
}
.purna{/**this css gives padding and width to the content in div "purna"**/
  width: 37%;
  padding: 3%;
}
.purna img{/**this is css which gives height and width to the image in div "purna"**/
  width:400px;
}
footer{/**this css gives style to the footer part**/
  display: flex;
  justify-content: center;
  background-color: white;
}
footer img{/**this css gives height and width to the image in footer part**/
  height: 70px;
  width: 70px;
}
footer img:hover{/** this css is for hover effect for tthe image in footer part**/
  opacity: 0.7;
}
footer p{/**this css styles the text that is in the footer part**/
  margin-top: 11%;

}
@media only screen and (max-width: 600px){/**this css is for making the webpages responsive**/
  .navbar ul{display: flex;
  flex-direction: column;}
  .joker{
    display: flex;
    flex-direction: column;
    padding-left: 18px;
  }
  .purna img{
   padding-right: 18px;
 }
 footer{
    display: flex;/**this css makes the footer part responsive**/
    flex-direction: column;
  }


}
