section{/** this css is for the whole section   **/
  display: flex;
  flex-direction: row;
  background-color: #cccccc;
}
section  img{/**this css gives height,padding, radius,time-duration to  the image in the section**/
  cursor: pointer;
  height: 300px;
  padding: 4%;
  border-radius: 50% ;
  transition-duration: 1s;
}
section img:hover{/**this is css for hover effect that makes the image to rotate in 360degrees**/
  transform: rotate(360deg);

}
.my{/**this css gives width and padding to content that are in div "my"**/
  width: 37%;
  padding: 3%;
}
article{/**this is the css that gives styles like background-color,text-align,text-weight to the content that are written in tag "article" **/
  background-color: orange;
  font-weight: bold;
  text-align: center;
}
.contain {
  width: 100%;
  background-color: black;
  border-radius:  7px;
}
.deny{
  text-align: right;

}
.skills{
  width: 90%;
  background-color: white;
  border-radius: 7px;
}
.many{
  text-align: right;
}
.css{
  width: 40%;
  background-color: white;
  border-radius: 7px;
}
.tiny{
  text-align: right;
}
.excel{
  width: 60%;
  background-color: white;
  border-radius: 7px;
}
.rightside{
  position: relative;
  top: 80px;
  left: 80px;
  height: 600px;
  width: 650px;
  background-color:  #cccccc;
}
.rightside h1{
  text-align: center;
  color: black;
  font-size: 3em;
  padding: 3%;
}
.hawa{
  width: 47%;
  margin-top: 2%;
  background-color: grey;
}
.hawa h2{
  background-color: black;
  text-align: center;
  color: white;
  font-size: 2em;
}
.hawa p{
  padding: 2%;
  color: maroon;
}
.pawa{
  width: 47%;
  margin-top: 2%;
  background-color: grey;
}
.pawa h2{
  background-color: black;
  text-align: center;
  color: white;
  font-size: 2em;
}
.pawa p{
  padding: 2%;
  color: maroon;
}
@media only screen and (max-width: 600px){/**this is css for making the CV page responsive which gives width to divs and display and flex-direction properties to the section**/
  section{
    display: flex;
    flex-direction: column;
  }
  .my{
    width: 100%;
  }
  .your{
    width: 100%;
  }
  .education{
    width: 100%;
  }
  .coursework{
      width: 100%;
  }
  .hawa{
      width: 100%;
  }
  .pawa{
      width: 100%;
  }
}
