section{
  display: flex;
  flex-direction: row;
}
section  img{
  cursor: pointer;
  height: 150px;
  padding: 4%;
  border-radius: 50% ;
  transition-duration: 1s;
}
section img:hover{
  transform: rotate(360deg);

}
.my{
  width: 37%;
  padding: 3%;
}
article{
  background-color: orange;
  font-weight: bold;
  text-align: center;
}
.contain {
  width: 100%;
  background-color: black;
  border-radius:  7px;
}
.deny{
  text-align: right;

}
.skills{
  width: 90%;
  background-color: red;
  border-radius: 7px;
}
.many{
  text-align: right;
}
.css{
  width: 40%;
  background-color: cyan;
  border-radius: 7px;
}
.tiny{
  text-align: right;
}
.excel{
  width: 60%;
  background-color: maroon;
  border-radius: 7px;
}
.your{
  width: 55%;
  padding: 5%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.education{
  width: 47%;
  margin-top: 2%;
  background-color: grey;
}
.education h2{
  background-color: black;
  text-align: center;
  color: white;
  font-size: 2em;
}
.education p{
  padding: 2%;
  color: maroon;
}
.coursework{
  width: 47%;
  margin-top: 2%;
  background-color: grey;
}
.coursework h2{
  background-color: black;
  text-align: center;
  color: white;
  font-size: 2em;
}
.coursework p{
  padding: 2%;
  color: maroon;
}
.hawa{
  width: 47%;
  margin-top: 2%;
  background-color: grey;
}
.hawa h2{
  background-color: black;
  text-align: center;
  color: white;
  font-size: 2em;
}
.hawa p{
  padding: 2%;
  color: maroon;
}
.pawa{
  width: 47%;
  margin-top: 2%;
  background-color: grey;
}
.pawa h2{
  background-color: black;
  text-align: center;
  color: white;
  font-size: 2em;
}
.pawa p{
  padding: 2%;
  color: maroon;
}
